aerocalc3==0.10
black>=25.1,<26
coverage>=7.6,<8
dj-database-url>=2.3,<3
Django>=5.2,<5.3
django-cors-headers>=4.7,<5
djangorestframework>=3.16,<4
Faker>=37,<38
gunicorn>=23,<24
hypothesis>=6.136,<7
matplotlib>=3.10,<4
mixer>=7.2,<8
mkdocs>=1.6,<2
mypy>=1.17,<2
nltk>=3.9,<4
numpy>=2.3,<3
pandas>=2.3,<3
Pillow>=11.3,<13
psycopg[binary]>=3.2,<4
pytest>=8.4,<9
pytest-cov>=6.2,<8
pytest-django>=4.11,<5
pytest-sugar>=1.0,<2
python-decouple>=3.8,<4
requests>=2.32,<3
