aerocalc3==0.10
black>=25.1,<26
coverage>=7.6,<8
dj-database-url>=2.3,<3
Django>=5.2,<5.3
django-cors-headers>=4.7,<5
djangorestframework>=3.16,<4
Faker>=37,<38
gunicorn
hypothesis>=6.136,<7
matplotlib>=3.10,<4
mixer
mkdocs>=1.6,<2
mypy>=1.17,<2
numpy>=2.3,<3
openpyxl>=3.1,<4
pandas>=2.3,<3
Pillow
psycopg[binary]
pytest
pytest-cov
pytest-django
pytest-sugar
python-decouple
requests
